{{- set url = getConfig("url") -}}
{{- set issues = await github.url(url, { subissues: true, updates: 3, fields: ['Status', 'Trending'] }) -}}

# [{{ getConfig("title") || "Report" }} {{ today }}]({{ issues.url }})

{{ issues.remember() }}
{{ await memory.summarize("tldr") }}

{{ debugMemory() |> safe }}
