# Synapse Initiative Updates {{ today }}

## TL;DR

{{ mark TLDR }}

{{ set synapseInitiatives = await github.issuesForProjectView("github", 21922, 2) }}

## {{ synapseInitiatives.header() }}

<details><summary>Expand to read original updates!</summary>
{{ for issue of synapseInitiatives }}
### {{ issue.header() }}
{{- set update = await issue.latestUpdate() -}}
{{- update.renderBody() -}}
{{ /for }}
</details>

{{ hoist TLDR = await memory.renderSummary("TLDR_PROMPT") }}
