# Test

## Project

{{ set synapseProject = client.issuesForProject("github", 21922, "Initiative", "Project Layer") }}
{{ set initiatives = await synapseProject.all() }}

{{ for initiative of initiatives }}
  {{ set latestUpdate = await initiative.latestUpdate() }}
  ## {{ initiative.issue.title }}
  {{ latestUpdate.body }}
{{ /for }}
