# Synapse Initiative Updates {{ today }}

## TL;DR

{{ mark TLDR }}

<details><summary>Expand to read original updates!</summary>
{{ set synapseInitiatives = await github.issuesForProject("github", 21922, "Initiative") }}

{{ for issue of synapseInitiatives }}
### {{ issue.title() }}
{{- set update = await issue.latestUpdate() -}}
{{- update.renderBody() -}}
{{ /for }}
</details>

{{ hoist TLDR = await memory.renderSummary("TLDR_PROMPT") }}
