# Synapse Initiative Updates {{ today }}

{{ set synapseInitiatives = await client.issuesForProject("github", 21922, "Initiative", "Project Layer").all() }}

{{ for initiative of synapseInitiatives }}
## {{ initiative.title() }}
{{- set latestUpdate = await initiative.latestUpdate() -}}
{{- latestUpdate.renderBody() -}}
{{ /for }}
